# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_jxl8msc
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_tz9b8sl
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=g-V9KukmGEEfE-hkh

# Admin Panel
ADMIN_PASSWORD=Skuhrov13
JWT_SECRET=change-this-to-a-random-secret-string-at-least-32-chars
